@import "tailwindcss";

@theme {
  --color-back: #f4fafd;
  --color-back-dark: #f4fafd;

  --color-black-50: #e6eaed;
  --color-black-100: #b1bfc6;
  --color-black-200: #8ba0aa;
  --color-black-300: #557484;
  --color-black-400: #35596c;
  --color-black-500: #023047;
  --color-black-600: #022c41;
  --color-black-700: #012232;
  --color-black-800: #011a27;
  --color-black-900: #01141e;

  --color-primary-50: #e9f5f8;
  --color-primary-100: #bae1ea;
  --color-primary-200: #99d2e0;
  --color-primary-300: #6abed2;
  --color-primary-400: #4db1c9;
  --color-primary-500: #219ebc;
  --color-primary-600: #1e90ab;
  --color-primary-700: #177085;
  --color-primary-800: #125767;
  --color-primary-900: #0e424f;


  --color-secondary-50: #;
  --color-secondary-100: #;
  --color-secondary-200: #;
  --color-secondary-300: #;
  --color-secondary-400: #;
  --color-secondary-500: #;
  --color-secondary-600: #;
  --color-secondary-700: #;
  --color-secondary-800: #;
  --color-secondary-900: #;
}
